<footer class="page-footer bg-primary">
    <div class="container">
        <div style="float: left; width: 33.33%;  padding: 10px;" >          
          <p class="grey-text text-lighten-4">Blog Business.</p>
          <p class="grey-text text-lighten-4">Tech in Blog</p>
          <p class="grey-text text-lighten-4">Get the App</p>
          <p class="grey-text text-lighten-4">About Us</p>
          <p class="grey-text text-lighten-4">Contact Us</p>               
        </div>
        <div style="float: left; width: 33.33%; padding: 10px;" >          
          <p class="grey-text text-lighten-4">Careers</p>
          <p class="grey-text text-lighten-4">Help and Support</p>
          <p class="grey-text text-lighten-4">Affiliate</p>
          <p class="grey-text text-lighten-4">Investorus</p>
          <p class="grey-text text-lighten-4">Guidelines</p>               
        </div>
        <div style="float: left; width: 33.33%; padding: 10px; ">          
          <p class="grey-text text-lighten-4">Terms</p>
          <p class="grey-text text-lighten-4">Privacy Policy</p>
          <p class="grey-text text-lighten-4">Cookie Settings</p>
          <p class="grey-text text-lighten-4">Sitemap</p>
          <p class="grey-text text-lighten-4">Accessibilty Statement</p>               
        </div>
        <div class="col ly4 offset-l2 s12">
          <h5 class="white-text">More Info</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Visit our office</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Email us at : blogs@gmail.com</a></li>
          </ul>
        </div>
    </div>
    <div class="footer-copyright">
      <div class="container" >
      © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>